.footer {
  background: $primary500;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  flex-wrap: wrap;
  &__details {
    flex: 2;
    margin-bottom: 2rem;
    @media (min-width: $sm) {
      margin-bottom: 4rem;
    }
  }
  &__logo {
    flex: 1;
    margin-bottom: 2rem;
    img {
      width: 125px;
      @media (min-width: $xs) {
        width: 200px;
        margin: 0 auto;
      }
    }
  }
  &__locations {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .location {
      margin-bottom: 2rem;
      &__title {
        font-weight: bold;
        font-size: $h5;
      }
      &__address {
        span {
          font-size: $small;
          display: block;
        }
      }
    }
    @media (min-width: $xs) {
      flex-direction: row;
      justify-content: center;
      .location {
        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
    }
    @media (min-width: $sm) {
      justify-content: flex-start;
    }
  }

  &__nav {
    margin-bottom: 1rem;
    .nav__links {
      align-items: center;
      display: flex;
      list-style-type: none;
      flex-wrap: wrap;
      li {
        margin-bottom: 0.5rem;
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: $h6;
        }
      }
    }
    @media (min-width: $xs) {
      .nav__links {
        justify-content: center;
      }
    }
    @media (min-width: $sm) {
      .nav__links {
        justify-content: flex-start;
      }
    }
  }
  &__legal {
    font-size: $small;
    @media (min-width: $xs) {
      text-align: center;
    }
    @media (min-width: $sm) {
      text-align: left;
    }
  }
  &__partners {
    display: flex;
    flex-direction: column;
    .partners__header {
      margin-bottom: 1rem;
      img {
        height: 125px;
        width: auto;
      }
    }
    .partners__body p {
      font-size: $small;
    }
    @media (min-width: $xs) {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      .partners__body {
        max-width: 25ch;
        margin-left: 1rem;
      }
    }
    @media (min-width: $sm) {
      flex-basis: 100%;
    }
  }

  @media (min-width: $sm) {
    padding: 3rem 2rem;
    flex-direction: row;
  }
  @media (min-width: $md) {
    padding: 4rem 1rem;
  }
}
