.about {
  background: white;
  padding: 2rem 1rem;
  .columns {
    @media (min-width: $xs) {
      flex-direction: column;
    }
    @media (min-width: $sm) {
      flex-direction: row;
    }
  }

  @media (min-width: $xs) {
    padding: 3rem 2rem;
  }
  @media (min-width: $sm) {
  }
}
