.staff {
  background: white;
  padding: 3rem 1rem;
  &:first-of-type {
    padding: 4rem 1rem;
  }
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(12, 1fr);
  &__title {
    grid-column: 1/-1;
    text-align: center;
    color: $primary500;
    margin-bottom: 2rem;
  }
  @media (min-width: $xs) {
    gap: 3rem 1rem;
    &:first-of-type {
      padding: 5rem 2rem 0 2rem;
    }
    &:last-of-type {
      padding-bottom: 5rem;
    }
  }
}

.staff-card {
  background: #edf2f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  grid-column: 1/-1;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      border-radius: 50%;
      width: 50%;
      display: block;
      margin-top: -5rem;
    }
  }
  &__body {
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      font-size: $h4;
      font-weight: bold;
    }
    .position {
      font-style: italic;
    }
    .contact {
      font-size: $h6;
      margin-top: 1rem;
    }
  }
  @media (min-width: $xs) {
    grid-column: span 4;
  }
}
