.button {
  background: $primary500;
  display: inline-block;
  color: white;
  min-width: 150px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  &:hover {
    background: $primary300;
  }
  @media (min-width: $xs) {
    padding: 1rem;
  }
}

button.button {
  border: none;
  cursor: pointer;
}
