.masthead {
  position: relative;
  &__image {
    height: 250px;
    object-fit: cover;
    filter: grayscale(20%);
  }
  &__overlay {
    padding: 2rem 1rem;
    background: $primary500;
    .title {
      font-size: $h3;
      color: white;
      max-width: 25ch;
      margin-bottom: 0.5rem;
    }
    .subtitle {
      color: white;
      margin-bottom: 0;
      font-size: 1.125rem;
    }
    .button {
      background: white;
      color: $primary500;
      margin-top: 1rem;
    }
    @media (min-width: $xs) {
      background: hsla(0, 100%, 100%, 0.9);
      padding: 3rem;
      width: max-content;
      position: absolute;
      bottom: 3rem;
      left: 0;
      &--404 {
        bottom: 25%;
        left: 25%;
        text-align: center;
        width: 50%;
        p.subtitle {
          max-width: unset;
        }
      }
      .title {
        color: $primary700;
      }
      .subtitle {
        max-width: 40ch;
        color: $primary900;
        font-size: 1.25rem;
      }
      .button {
        color: white;
        background: $primary500;
        &:hover {
          background: $primary300;
        }
      }
    }
    @media (min-width: $md) {
      .title {
        font-size: $h2;
      }
    }
  }
  @media (min-width: $xs) {
    height: clamp(450px, 50vh, 600px);
    &__image {
      height: 100%;
    }
  }
}
