.newsletter {
  background: $primary500;
  color: white;
  padding: 3rem 1rem;
  h2 {
    font-size: $h4;
    margin-bottom: 1rem;
  }
  @media (min-width: $xs) {
    h2 {
      font-size: $h3;
    }
    padding: 2rem;
  }
  @media (min-width: $lg) {
    padding: 3rem 2rem;
    p {
      margin-bottom: 0;
    }
  }
}

.ctct-form-wrapper {
  form.ctct-form {
    display: flex;
    flex-direction: column;
    p.ctct-form-field {
      margin: 0;
      input.ctct-email {
        width: 100%;
        padding: 1rem;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 2px solid white;
        margin-bottom: 1rem;
        font-weight: bold;
        color: white;
        border-radius: 0;
      }
    }
    p.ctct-form-field-submit {
      input.ctct-submit {
        width: 100%;
        border: none;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 1rem 2rem;
        background: white;
        color: $primary500;
        font-family: inherit;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  @media (min-width: $md) {
    form.ctct-form {
      flex-direction: row;
      p.ctct-form-field {
        flex: 2;
        input.ctct-email {
          margin-bottom: 0;
          border-left: 2px solid white;
          border-top: 2px solid white;
          border-bottom: 2px solid white;
          border-right: none;
        }
      }
      p.ctct-form-field-submit {
        flex: 1;
        input.ctct-submit {
          height: 100%;
          padding: 0.5rem 2rem;
        }
      }
    }
  }
}
