$primary900: hsl(242, 15%, 20%);
$primary700: hsl(252, 20%, 33%);
$primary500: hsl(242, 30%, 38%);
$primary400: hsl(224, 67%, 24%);
$primary300: hsl(231, 39%, 50%);
$primary200: hsl(224, 67%, 24%);
$primary100: hsl(224, 67%, 24%);
$secondary500: hsl(282, 56%, 38%);
$secondary400: hsl(224, 67%, 24%);
$secondary300: hsl(252, 34%, 53%);
$secondary200: hsl(224, 67%, 24%);
$secondary100: hsl(251, 35%, 75%);
$neutral100: #f7fafc;
$neutral200: #edf2f7;
$neutral300: #e2e8f0;
$neutral400: #cbd5e0;
$neutral500: #a0aec0;
