@font-face {
  font-family: "Mulish";
  src: url("../../community-smiles-dental/fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype-variations");
  font-variation-settings: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../community-smiles-dental/fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../../community-smiles-dental/fonts/Nunito_Sans/NunitoSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
h1 {
  line-height: 1.1;
  font-size: 54.93px;
  font-family: "Mulish", sans-serif;
  font-variation-settings: "wght" 700;
}

h2 {
  line-height: 1.1;
  font-size: 43.95px;
  font-family: "Mulish", sans-serif;
  font-variation-settings: "wght" 700;
}

h3 {
  line-height: 1.1;
  font-size: 35.16px;
  font-family: "Mulish", sans-serif;
  font-variation-settings: "wght" 700;
}

h4 {
  line-height: 1.1;
  font-size: 28.13px;
  font-family: "Mulish", sans-serif;
  font-variation-settings: "wght" 700;
}

h5 {
  line-height: 1.1;
  font-size: 22.5px;
  font-family: "Mulish", sans-serif;
  font-variation-settings: "wght" 700;
}

h6 {
  line-height: 1.1;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  font-variation-settings: "wght" 700;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
  font-variation-settings: "wght" 400;
}
@media (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  width: 100%;
  height: auto;
  display: block;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #edf2f7;
  color: #2c2b3b;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  margin: 0 auto;
}
@media (min-width: 992px) {
  .container {
    max-width: 860px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

.columns {
  display: flex;
  flex-direction: column;
}
.columns--has-gap {
  gap: 1rem;
}
.columns--reversed-mobile {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .columns {
    flex-direction: row;
    gap: 1rem;
  }
}

.column {
  flex: 1;
}
@media (min-width: 1200px) {
  .column {
    padding: 1rem;
  }
}
@media (min-width: 1440px) {
  .column {
    padding: 1rem 2rem;
  }
}
.column--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1200px) {
  .column--is-40 {
    flex-basis: 40%;
  }
}
@media (min-width: 1200px) {
  .column--is-60 {
    flex-basis: 60%;
  }
}
.column--is-75 {
  flex-basis: 75%;
}
.column--is-25 {
  flex-basis: 25%;
}

.grid {
  display: grid;
  gap: 2rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  background: #46447e;
  color: white;
}
.header__top {
  display: none;
}
.header__top .left {
  background: #625fab;
  flex: 1;
  padding: 1rem 2rem;
}
.header__top .left .tagline {
  margin-bottom: 0;
  font-weight: bold;
}
.header__top .right {
  margin-left: auto;
  display: flex;
}
.header__top .right .call {
  font-weight: 600;
  background: #625fab;
}
.header__top .right .call a {
  padding: 1rem 3rem;
  color: white;
  text-decoration: none;
  display: block;
}
.header__top .right .donate {
  background: #8a83be;
  padding: 1rem 4rem;
  height: 100%;
  display: block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
.header__top .right .donate:hover {
  background: #4a4365;
}
@media (min-width: 992px) {
  .header__top {
    display: flex;
  }
}
.header__desktop {
  display: none;
  padding: 2rem 3rem;
  align-items: center;
}
@media (min-width: 992px) {
  .header__desktop {
    display: flex;
  }
  .header__desktop .logo img {
    height: 4rem;
  }
}
@media (min-width: 1200px) {
  .header__desktop .logo img {
    height: 6rem;
  }
}
.header__nav {
  margin-left: auto;
}
.header .nav__links {
  list-style-type: none;
  display: flex;
}
.header .nav__links .menu-item {
  position: relative;
}
.header .nav__links .menu-item:not(:last-of-type) {
  margin-right: 1rem;
}
.header .nav__links .menu-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.header .nav__links .menu-item:hover .sub-menu {
  display: flex;
}
.header .nav__links .menu-item .sub-menu {
  display: none;
  flex-direction: column;
  list-style-type: none;
  background-image: linear-gradient(to top, #8a83be calc(100% - 24px), transparent 10%);
  position: absolute;
  z-index: 10;
  min-width: 100%;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  top: 1.5rem;
}
.header .nav__links .menu-item .sub-menu::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #8a83be;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  top: 0;
}
.header .nav__links .menu-item .sub-menu .menu-item {
  margin-right: 0;
  margin-bottom: 0.5rem;
}
.header .nav__links .menu-item .sub-menu .menu-item:first-of-type {
  margin-top: 0.5rem;
}
.header .nav__links .menu-item .sub-menu .menu-item:last-of-type {
  margin-bottom: 0;
}
.header .nav__links .menu-item .sub-menu .menu-item a {
  color: white;
  white-space: nowrap;
}
@media (min-width: 1200px) {
  .header .nav__links .menu-item a {
    font-size: 1.25rem;
  }
  .header .nav__links .menu-item:not(:last-of-type) {
    margin-right: 1.125rem;
  }
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #46447e;
}
.header__mobile .logo img {
  width: 5rem;
  height: auto;
}
.header__mobile .hamburger .open-button {
  background: transparent;
  border: none;
}
.header__mobile .hamburger .open-button svg {
  height: 1.25rem;
  width: 1.25rem;
}
@media (min-width: 992px) {
  .header__mobile {
    display: none;
  }
}

.footer {
  background: #46447e;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  flex-wrap: wrap;
}
.footer__details {
  flex: 2;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .footer__details {
    margin-bottom: 4rem;
  }
}
.footer__logo {
  flex: 1;
  margin-bottom: 2rem;
}
.footer__logo img {
  width: 125px;
}
@media (min-width: 768px) {
  .footer__logo img {
    width: 200px;
    margin: 0 auto;
  }
}
.footer__locations {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__locations .location {
  margin-bottom: 2rem;
}
.footer__locations .location__title {
  font-weight: bold;
  font-size: 22.5px;
}
.footer__locations .location__address span {
  font-size: 14.4px;
  display: block;
}
.footer__locations .location__address span a {
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__locations {
    flex-direction: row;
    justify-content: center;
  }
  .footer__locations .location:not(:last-of-type) {
    margin-right: 2rem;
  }
}
@media (min-width: 992px) {
  .footer__locations {
    justify-content: flex-start;
  }
}
.footer__nav {
  margin-bottom: 1rem;
}
.footer__nav .nav__links {
  align-items: center;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.footer__nav .nav__links li {
  margin-bottom: 0.5rem;
}
.footer__nav .nav__links li:not(:last-of-type) {
  margin-right: 1rem;
}
.footer__nav .nav__links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: 768px) {
  .footer__nav .nav__links {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .footer__nav .nav__links {
    justify-content: flex-start;
  }
}
.footer__legal {
  font-size: 14.4px;
}
@media (min-width: 768px) {
  .footer__legal {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .footer__legal {
    text-align: left;
  }
}
.footer__partners {
  display: flex;
  flex-direction: column;
}
.footer__partners .partners__header {
  margin-bottom: 1rem;
}
.footer__partners .partners__header img {
  height: 125px;
  width: auto;
}
.footer__partners .partners__body p {
  font-size: 14.4px;
}
@media (min-width: 768px) {
  .footer__partners {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer__partners .partners__body {
    max-width: 25ch;
    margin-left: 1rem;
  }
}
@media (min-width: 992px) {
  .footer__partners {
    flex-basis: 100%;
  }
}
@media (min-width: 992px) {
  .footer {
    padding: 3rem 2rem;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 4rem 1rem;
  }
}

.button {
  background: #46447e;
  display: inline-block;
  color: white;
  min-width: 150px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
.button:hover {
  background: #4e5db1;
}
.button--inverse {
  background: white;
  color: #46447e;
}
.button--inverse:hover {
  background: white;
}

button.button {
  border: none;
  cursor: pointer;
}

.masthead {
  position: relative;
}
.masthead__image {
  height: 250px;
  object-fit: cover;
  filter: grayscale(20%);
}
.masthead__overlay {
  padding: 2rem 1rem;
  background: #46447e;
}
.masthead__overlay .title {
  font-size: 35.16px;
  color: white;
  max-width: 25ch;
  margin-bottom: 0.5rem;
}
.masthead__overlay .subtitle {
  color: white;
  margin-bottom: 0;
  font-size: 1.125rem;
}
.masthead__overlay .button {
  background: white;
  color: #46447e;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .masthead__overlay {
    background: rgba(255, 255, 255, 0.9);
    padding: 3rem;
    width: max-content;
    position: absolute;
    bottom: 3rem;
    left: 0;
  }
  .masthead__overlay--404 {
    bottom: 25%;
    left: 25%;
    text-align: center;
    width: 50%;
  }
  .masthead__overlay--404 p.subtitle {
    max-width: unset;
  }
  .masthead__overlay .title {
    color: #4a4365;
  }
  .masthead__overlay .subtitle {
    max-width: 40ch;
    color: #2c2b3b;
    font-size: 1.25rem;
  }
  .masthead__overlay .button {
    color: white;
    background: #46447e;
  }
  .masthead__overlay .button:hover {
    background: #4e5db1;
  }
}
@media (min-width: 1200px) {
  .masthead__overlay .title {
    font-size: 43.95px;
  }
}
@media (min-width: 768px) {
  .masthead {
    height: clamp(450px, 50vh, 600px);
  }
  .masthead__image {
    height: 100%;
  }
}

div.intro {
  padding: 3rem 1rem;
  background: white;
}
div.intro h2 {
  font-size: 28.13px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  div.intro {
    padding: 3rem 2rem;
  }
  div.intro h2 {
    font-size: 35.16px;
  }
}
@media (min-width: 1440px) {
  div.intro {
    padding: 4rem 2rem;
  }
}

.cta-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .cta-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.cta-grid .eligibility,
.cta-grid .donate {
  padding: 2rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta-grid .eligibility h3,
.cta-grid .eligibility p,
.cta-grid .donate h3,
.cta-grid .donate p {
  margin-bottom: 1.125rem;
}
@media (min-width: 768px) {
  .cta-grid .eligibility,
.cta-grid .donate {
    grid-column: 1/span 6;
    padding: 3rem;
  }
}
.cta-grid .eligibility {
  background: #8a83be;
}
@media (min-width: 768px) {
  .cta-grid .eligibility {
    grid-row: 1/2;
  }
}
.cta-grid .donate {
  background: #625fab;
}
@media (min-width: 768px) {
  .cta-grid .donate {
    grid-row: 2/-1;
  }
}
.cta-grid .image {
  display: none;
}
@media (min-width: 768px) {
  .cta-grid .image {
    display: block;
    grid-column: 7/-1;
    grid-row: 1/-1;
  }
  .cta-grid .image img {
    height: 100%;
    object-fit: cover;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}
.input-group .input-group__input {
  padding: 1rem;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid white;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
}
.input-group .input-group__button {
  border: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 2rem;
  background: white;
  color: #625fab;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .input-group {
    flex-direction: row;
  }
  .input-group .input-group__input {
    margin-bottom: 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: none;
    flex: 2;
  }
  .input-group .input-group__button {
    padding: 0.5rem 2rem;
    flex: 1;
  }
}

::placeholder {
  color: white;
  opacity: 1;
  font-weight: bold;
}

.features {
  background: white;
  padding: 1rem 0;
}
.features .feature {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features .feature__image {
  height: 96px;
  width: 96px;
  margin-bottom: 1rem;
}
.features .feature__title {
  font-size: 28.13px;
  font-weight: bold;
  line-height: 1.1;
}
.features .feature__description {
  margin-bottom: 0;
  max-width: 40ch;
}
@media (min-width: 1200px) {
  .features .feature__image {
    height: 160px;
    width: 160px;
  }
}
@media (min-width: 992px) {
  .features {
    padding: 3rem;
  }
  .features__title {
    font-weight: 800;
  }
}

.newsletter {
  background: #46447e;
  color: white;
  padding: 3rem 1rem;
}
.newsletter h2 {
  font-size: 28.13px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .newsletter {
    padding: 2rem;
  }
  .newsletter h2 {
    font-size: 35.16px;
  }
}
@media (min-width: 1440px) {
  .newsletter {
    padding: 3rem 2rem;
  }
  .newsletter p {
    margin-bottom: 0;
  }
}

.ctct-form-wrapper form.ctct-form {
  display: flex;
  flex-direction: column;
}
.ctct-form-wrapper form.ctct-form p.ctct-form-field {
  margin: 0;
}
.ctct-form-wrapper form.ctct-form p.ctct-form-field input.ctct-email {
  width: 100%;
  padding: 1rem;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid white;
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 0;
}
.ctct-form-wrapper form.ctct-form p.ctct-form-field-submit input.ctct-submit {
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem 2rem;
  background: white;
  color: #46447e;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .ctct-form-wrapper form.ctct-form {
    flex-direction: row;
  }
  .ctct-form-wrapper form.ctct-form p.ctct-form-field {
    flex: 2;
  }
  .ctct-form-wrapper form.ctct-form p.ctct-form-field input.ctct-email {
    margin-bottom: 0;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: none;
  }
  .ctct-form-wrapper form.ctct-form p.ctct-form-field-submit {
    flex: 1;
  }
  .ctct-form-wrapper form.ctct-form p.ctct-form-field-submit input.ctct-submit {
    height: 100%;
    padding: 0.5rem 2rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.card__header img {
  height: 225px;
  object-fit: cover;
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.card__body .title {
  font-size: 22.5px;
  font-family: "Mulish";
  font-variation-settings: "wght" 800;
  margin-bottom: 0;
  line-height: 1.3;
  max-width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__body .description {
  margin-bottom: 1.25rem;
}
.card__body .button {
  margin-top: auto;
}
@media (min-width: 1200px) {
  .card {
    padding: 0;
  }
}

.blog-grid {
  background: white;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.blog-grid .card {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem;
  }
  .blog-grid .card {
    grid-column: span 4;
  }
}
@media (min-width: 1440px) {
  .blog-grid {
    padding: 3rem;
    gap: 2rem;
  }
}

.social-share,
.donate-snippet {
  margin: 1rem 0;
}
.social-share .title,
.donate-snippet .title {
  font-style: italic;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}
.social-share .social-list,
.social-share .donate-list,
.donate-snippet .social-list,
.donate-snippet .donate-list {
  list-style-type: none;
  display: flex;
  margin-bottom: 2rem;
}
.social-share .social-list li:not(:last-of-type),
.social-share .donate-list li:not(:last-of-type),
.donate-snippet .social-list li:not(:last-of-type),
.donate-snippet .donate-list li:not(:last-of-type) {
  margin-right: 0.5rem;
}
.social-share .social-list li a,
.social-share .donate-list li a,
.donate-snippet .social-list li a,
.donate-snippet .donate-list li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  background: white;
  border: 1px solid #2c2b3b;
  transition: all 0.3s ease-in-out;
}
.social-share .social-list li a:hover,
.social-share .donate-list li a:hover,
.donate-snippet .social-list li a:hover,
.donate-snippet .donate-list li a:hover {
  background: #46447e;
  border: 1px solid #46447e;
  color: white;
}
@media (min-width: 992px) {
  .social-share .social-list,
.social-share .donate-list,
.donate-snippet .social-list,
.donate-snippet .donate-list {
    flex-direction: column;
  }
  .social-share .social-list li:not(:last-of-type),
.social-share .donate-list li:not(:last-of-type),
.donate-snippet .social-list li:not(:last-of-type),
.donate-snippet .donate-list li:not(:last-of-type) {
    margin-bottom: 1rem;
  }
  .social-share .social-list li a,
.social-share .donate-list li a,
.donate-snippet .social-list li a,
.donate-snippet .donate-list li a {
    min-width: 10rem;
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .social-share,
.donate-snippet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .social-share .title,
.donate-snippet .title {
    margin-right: 2rem;
  }
}

.resources {
  background: #e2e8f0;
  padding: 1rem;
  margin: 2rem 0;
}
.resources__title {
  font-style: italic;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}
.resources__list {
  list-style-type: none;
}
.resources ul {
  list-style-position: inside;
}
@media (min-width: 768px) {
  .resources {
    margin: 0;
  }
  .resources__list li {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
}

.text-block ul {
  list-style-position: inside;
  font-size: 16px;
  margin-left: 2rem;
  text-indent: -1rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}
.text-block ul li ul {
  padding-left: 1rem;
}
.text-block .intro {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}
.text-block p + h3,
.text-block p + h2,
.text-block ul + h2,
.text-block ul + h3 {
  margin-top: 2rem;
}
.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4,
.text-block h5,
.text-block h6 {
  margin-bottom: 1rem;
}
.text-block h2 {
  font-size: 28.13px;
}
.text-block h3 {
  font-size: 22.5px;
}
@media (min-width: 992px) {
  .text-block {
    max-width: 75ch;
    padding-right: 2rem;
  }
  .text-block h2 {
    font-size: 35.16px;
  }
  .text-block h3 {
    font-size: 28.13px;
  }
  .text-block ul {
    font-size: 18px;
  }
  .text-block .intro {
    font-size: 22.5px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 2rem;
  }
}

.close-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 50;
  line-height: 1;
  background: #8a83be;
  border: none;
  border-radius: 50%;
  opacity: 0;
  border: 2px solid white;
}
.close-button svg {
  height: 1.25rem;
  width: 1.25rem;
}
@media (min-width: 992px) {
  .close-button {
    display: none;
  }
}

.mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 260px;
  background: #8275bd;
  top: 0;
  z-index: 100;
  right: -260px;
  overflow-x: scroll;
}
.mobile-nav .call {
  width: 100%;
  background: #625fab;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-nav .call a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
}
.mobile-nav nav .mobile-nav__links {
  list-style-type: none;
  list-style-position: inside;
}
.mobile-nav nav .mobile-nav__links .menu-item-has-children {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.mobile-nav nav .mobile-nav__links .menu-item-has-children .expand-menu {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
  border-left: 2px solid #6f5eb0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.mobile-nav nav .mobile-nav__links .menu-item {
  border-bottom: 2px solid #6f5eb0;
}
.mobile-nav nav .mobile-nav__links .menu-item a,
.mobile-nav nav .mobile-nav__links .menu-item span {
  padding: 1.25rem 1rem;
  display: block;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  flex: 4;
}
.mobile-nav nav .mobile-nav__links .sub-menu {
  list-style-type: none;
  display: none;
  opacity: 0;
  height: 0;
  flex: 1;
  flex-basis: 100%;
}
.mobile-nav nav .mobile-nav__links .sub-menu .menu-item {
  border-bottom: none;
  background: #a298cd;
  border-bottom: 2px solid #6f5eb0;
  z-index: 200;
  position: relative;
}
.mobile-nav nav .mobile-nav__links .sub-menu .menu-item:first-of-type {
  border-top: 2px solid #6f5eb0;
}
.mobile-nav nav .mobile-nav__links .sub-menu .menu-item:last-of-type {
  border-bottom: none;
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
}

.notification-bar {
  background: #c4b4fd;
  position: fixed;
  z-index: 200;
  width: 100%;
  opacity: 0;
  top: 0;
}
.notification-bar.open {
  opacity: 1;
}
.notification-bar.closed {
  display: none;
}

.notification {
  display: flex;
  color: #2c2b3b;
}
.notification__message {
  flex-basis: 90%;
  padding: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.125rem;
}
.notification__button {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notification__button img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.erf-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.erf-form .erf-form-html {
  grid-column: 1/-1;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .erf-form .erf-form-html {
    grid-column: 3/-3;
  }
}
.erf-form .rendered-form {
  background: #edf2f7;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.erf-form .rendered-form .erf-header,
.erf-form .rendered-form .erf-text,
.erf-form .rendered-form .erf-email,
.erf-form .rendered-form .erf-tel,
.erf-form .rendered-form .erf-select,
.erf-form .rendered-form .erf-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.erf-form .rendered-form .erf-header label,
.erf-form .rendered-form .erf-text label,
.erf-form .rendered-form .erf-email label,
.erf-form .rendered-form .erf-tel label,
.erf-form .rendered-form .erf-select label,
.erf-form .rendered-form .erf-textarea label {
  color: #142a66;
  font-size: 18px;
  font-weight: bold;
}
.erf-form .rendered-form .erf-header input,
.erf-form .rendered-form .erf-text input,
.erf-form .rendered-form .erf-email input,
.erf-form .rendered-form .erf-tel input,
.erf-form .rendered-form .erf-select input,
.erf-form .rendered-form .erf-textarea input {
  margin-top: 0.5rem;
  border: none;
  padding: 1rem;
  border-radius: 0;
  width: 100%;
  font-size: 16px;
}
.erf-form .rendered-form .erf-header {
  color: #142a66;
  margin-bottom: 2rem;
}
.erf-form .rendered-form .erf-select select {
  margin-top: 0.5rem;
  padding: 1rem;
  border: none;
}
.erf-form .rendered-form .erf-textarea textarea {
  border: none;
  resize: vertical;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 16px;
}
.erf-form .rendered-form .erf-button button.btn.btn-default {
  background: #46447e;
  cursor: pointer;
  border: none;
  display: inline-block;
  color: white;
  min-width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
.erf-form .rendered-form .erf-button button.btn.btn-default:hover {
  background: #4e5db1;
}
@media (min-width: 992px) {
  .erf-form .rendered-form .erf-button button.btn.btn-default {
    min-width: 250px;
  }
}
@media (min-width: 992px) {
  .erf-form .rendered-form {
    padding: 3rem;
  }
}
.erf-form .erf-external-form-elements {
  grid-column: 1/-1;
  max-width: 100%;
}
.erf-form .erf-external-form-elements .erf-errors {
  padding: 1.5rem;
  background: #edf2f7;
  font-size: 18px;
}
.erf-form .erf-external-form-elements .erf-errors .erf-errors-head {
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}
@media (min-width: 992px) {
  .erf-form .erf-external-form-elements .erf-errors {
    padding: 3rem;
  }
}
@media (min-width: 1200px) {
  .erf-form .erf-external-form-elements {
    grid-column: 3/-3;
  }
}

.page-wrapper {
  background: white;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .page-wrapper .columns {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .page-wrapper .columns {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .page-wrapper {
    padding: 3rem 2rem;
  }
}
.locations {
  background: white;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .locations {
    padding: 3rem 2rem;
  }
}
.locations #map {
  height: 225px;
}
@media (min-width: 768px) {
  .locations #map {
    height: 325px;
  }
}
@media (min-width: 1440px) {
  .locations #map {
    height: 400px;
  }
}

.schedule {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.schedule__title {
  flex: 1;
  flex-basis: 100%;
  display: block;
  font-size: 28.13px;
  margin-bottom: 1rem;
}
.schedule .days,
.schedule .hours {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}
.schedule .days span,
.schedule .hours span {
  display: block;
}
.location {
  margin-bottom: 2rem;
}
.location__image {
  margin-bottom: 1rem;
}
.location__image img {
  height: 225px;
  object-fit: cover;
}
@media (min-width: 1200px) {
  .location__image img {
    height: 300px;
  }
}
.location__title {
  font-size: 28.13px;
  font-weight: bold;
}
.location__address {
  margin-bottom: 1rem;
}
.location__address span {
  display: block;
  font-size: 18px;
}

.staff {
  background: white;
  padding: 3rem 1rem;
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(12, 1fr);
}
.staff:first-of-type {
  padding-top: 5rem;
}
.staff__title {
  grid-column: 1/-1;
  text-align: center;
  color: #46447e;
  margin-bottom: 2rem;
}
.staff__title h2 {
  font-size: 28.13px;
}
@media (min-width: 768px) {
  .staff {
    padding: 4rem 2rem;
    gap: 3rem 1rem;
  }
  .staff:first-of-type {
    padding: 5rem 2rem 0 2rem;
  }
  .staff:last-of-type {
    padding-bottom: 5rem;
  }
  .staff__title h2 {
    font-size: 35.16px;
  }
}

.staff-card {
  background: #edf2f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  grid-column: 1/-1;
}
.staff-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-card__header img {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  object-fit: cover;
  display: block;
  margin-top: -5rem;
}
.staff-card__body {
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.staff-card__body .name {
  font-size: 22.5px;
  font-weight: bold;
}
.staff-card__body .position,
.staff-card__body .employer {
  font-style: italic;
}
.staff-card__body .phone,
.staff-card__body .role,
.staff-card__body .email {
  font-size: 18px;
  margin-top: 0.75rem;
}
@media (min-width: 1200px) {
  .staff-card__body .name {
    font-size: 28.13px;
  }
}
@media (min-width: 768px) {
  .staff-card {
    grid-column: span 6;
  }
}
@media (min-width: 992px) {
  .staff-card__header img {
    width: 225px;
    height: 225px;
    margin-top: -6rem;
  }
}
@media (min-width: 1200px) {
  .staff-card {
    grid-column: span 4;
  }
}

.programs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: white;
  gap: 1rem;
  padding: 2rem 1rem;
}
.programs__title {
  grid-column: 1/-1;
  text-align: center;
  color: #46447e;
  margin-bottom: 2rem;
}
.programs__title h3 {
  font-size: 28.13px;
}
@media (min-width: 768px) {
  .programs {
    gap: 1.5rem;
    padding: 4rem 2rem;
  }
  .programs__title h3 {
    font-size: 35.16px;
  }
}

.program {
  grid-column: 1/-1;
  background: #e2e8f0;
}
.program__header img {
  height: 200px;
  object-fit: cover;
}
.program__body {
  padding: 1rem;
}
.program__body .title {
  font-size: 22.5px;
  margin-bottom: 1rem;
}
.program__body .button {
  margin-top: auto;
}
.program__body p:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .program {
    grid-column: span 6;
  }
  .program__header img {
    height: 250px;
  }
  .program__body {
    padding: 2rem;
  }
  .program__body .title {
    font-size: 28.13px;
  }
}
@media (min-width: 1200px) {
  .program__header img {
    height: 300px;
  }
}

.contribute {
  background: white;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .contribute .columns {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .contribute .columns {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .contribute {
    padding: 3rem 2rem;
  }
}
.contact {
  background: white;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .contact {
    padding: 3rem 1rem;
  }
}
@media (min-width: 1200px) {
  .contact {
    padding: 4rem 0;
  }
}

.content {
  margin-bottom: 1rem;
  padding: 1.5rem;
  height: 100%;
}
.content--contact {
  background: #edf2f7;
}
.content--contact h2,
.content--contact h3 {
  color: #142a66;
  margin-bottom: 0.5rem;
}
.content--contact h3 ~ p,
.content--contact h2 ~ p {
  margin-bottom: 2rem;
}
.content--contact h2 {
  font-size: 28.13px;
}
.content--contact h3 {
  font-size: 22.5px;
}
.content--contact p:last-of-type {
  margin-bottom: 0;
}
.content--contact .address:not(:last-of-type) {
  margin-bottom: 2rem;
}
.content--contact .address span {
  display: block;
  font-size: 16px;
}
@media (min-width: 768px) {
  .content--contact .address span {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .content {
    padding: 2rem;
    margin-bottom: 0;
  }
  .content h2 {
    font-size: 35.16px;
  }
  .content h3 {
    font-size: 28.13px;
  }
}
@media (min-width: 1024px) {
  .content {
    padding: 3rem;
  }
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.wpcf7-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  color: #142a66;
  font-size: 18px;
  font-weight: bold;
}
.wpcf7-form .wpcf7-text,
.wpcf7-form .wpcf7-textarea {
  margin-top: 0.5rem;
  border: none;
  padding: 1rem;
  border-radius: 0;
  width: 100%;
  font-size: 16px;
}
.wpcf7-form .wpcf7-textarea {
  resize: vertical;
}
.wpcf7-form .wpcf7-submit {
  background: #46447e;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.wpcf7-form .wpcf7-submit:hover {
  background: #4e5db1;
}

.event-masthead {
  background: linear-gradient(rgba(70, 68, 126, 0.6), rgba(70, 68, 126, 0.75), rgba(70, 68, 126, 0.95)), url("../../../../../wp-content/themes/community-smiles-dental/images/lfas-masthead.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  padding: 1rem;
}
@media (min-width: 992px) {
  .event-masthead {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .event-masthead {
    height: 550px;
  }
}
.event-masthead .top {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.event-masthead .top .title {
  font-size: 35.16px;
}
.event-masthead .top .subtitle {
  margin-top: 0.25rem;
}
@media (min-width: 768px) {
  .event-masthead .top .title {
    font-size: 43.95px;
  }
  .event-masthead .top .subtitle {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .event-masthead .top .title {
    font-size: 54.93px;
  }
}
.event-masthead .bottom {
  flex: 1;
  display: flex;
  width: 80%;
}
.event-masthead .bottom .masthead-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-masthead .bottom .masthead-column:not(:last-of-type) {
  display: none;
}
.event-masthead .bottom .masthead-column .details {
  margin-left: 1rem;
}
.event-masthead .bottom .masthead-column .details__title {
  font-weight: bold;
  font-size: 22.5px;
}
.event-masthead .bottom .masthead-column .details__subtitle a {
  color: white;
  text-decoration: none;
}
.event-masthead .bottom .masthead-column .icon img {
  height: 48px;
  width: 48px;
}
@media (min-width: 992px) {
  .event-masthead .bottom .masthead-column:not(:last-of-type) {
    display: flex;
  }
}

.event-details {
  padding: 2rem 0;
  background: #f7fafc;
}

.content--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.content__image img {
  max-height: 225px;
  object-fit: cover;
  object-position: center 25%;
}
.content__image--contain img {
  object-fit: contain;
}
.content__title {
  margin-bottom: 1rem;
}
.content__title h2 {
  font-size: 28.13px;
}
@media (min-width: 768px) {
  .content__image img {
    max-height: 300px;
  }
  .content--centered {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .content__title h2 {
    font-size: 35.16px;
  }
  .content__image img {
    max-height: 350px;
  }
  .content--centered {
    padding: 1rem;
  }
}

.highlights {
  background: #4e5db1;
  color: white;
  padding: 3rem 0;
}
.highlights__title {
  margin-bottom: 2rem;
  text-align: center;
}
.highlights__title h3 {
  font-size: 28.13px;
}
.highlights__highlights {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .highlights {
    padding: 3rem;
  }
}
@media (min-width: 992px) {
  .highlights__title h3 {
    font-size: 35.16px;
  }
}
@media (min-width: 1200px) {
  .highlights {
    padding: 5rem;
  }
}

.highlight {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.highlight__icon {
  margin-bottom: 1rem;
}
.highlight__icon img {
  height: 4rem;
  width: 4rem;
}
.highlight__title {
  text-align: center;
}
.highlight__title h5 {
  font-size: 18px;
}
@media (min-width: 768px) {
  .highlight {
    grid-column: span 6;
  }
}
@media (min-width: 992px) {
  .highlight {
    grid-column: span 4;
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  .highlight__title h5 {
    font-size: 22.5px;
  }
}

.sponsors {
  background: white;
  padding: 3rem 1rem;
  text-align: center;
}
.sponsors__title {
  color: #46447e;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .sponsors {
    padding: 5rem 3rem;
  }
}
@media (min-width: 1200px) {
  .sponsors {
    padding: 5rem;
  }
}

.sponsor-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}
.sponsor-grid__title {
  text-align: center;
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.sponsor-grid__title h4 {
  color: #46447e;
}
.sponsor-grid__body {
  text-align: center;
  grid-column: 1/-1;
}
.sponsor-grid__body p {
  font-size: 1.25rem;
}
.sponsor-grid .sponsor {
  padding: 2rem;
  background: #e2e8f0;
  color: #35344b;
  grid-column: 1/-1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.sponsor-grid .sponsor:nth-of-type(2n) {
  background: #edf2f7;
}
.sponsor-grid .sponsor img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
}
.sponsor-grid--text-only .sponsor {
  grid-column: 1/-1;
  font-size: 18px;
  padding: 2rem 1rem;
}
@media (min-width: 768px) {
  .sponsor-grid .sponsor {
    grid-column: span 6;
  }
  .sponsor-grid__body {
    grid-column: 3/-3;
  }
}
@media (min-width: 992px) {
  .sponsor-grid .sponsor {
    grid-column: span 4;
  }
}

.job-listing {
  grid-column: 1/-1;
  padding: 2rem;
  background: #edf2f7;
}
.job-listing .job-summary {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
.job-listing .job-summary::-webkit-details-marker {
  display: none;
}
.job-listing .job-summary > * {
  margin-bottom: 1rem;
}
.job-listing .job-summary h2.job-title {
  font-size: 22.5px;
  max-width: 25ch;
}
.job-listing .job-summary .status,
.job-listing .job-summary .read-more {
  font-size: 18px;
}
.job-listing .job-summary .status {
  display: flex;
  flex-direction: column;
  max-width: 30ch;
}
.job-listing .job-summary .status span {
  display: block;
}
.job-listing .job-summary .read-more {
  background: #46447e;
  display: inline-block;
  color: white;
  min-width: 150px;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}
.job-listing .job-summary .read-more:hover {
  background: #4e5db1;
}
@media (min-width: 992px) {
  .job-listing .job-summary {
    flex-direction: row;
    align-items: center;
  }
  .job-listing .job-summary > * {
    margin-bottom: 0;
  }
}
.job-listing .job-details__title {
  font-size: 18px;
  font-weight: bold;
}
.job-listing .job-details .panel-body ul {
  list-style-position: inside;
}
.job-listing .job-details .panel-body ul li {
  font-size: 18px;
}
.job-listing .job-details .panel-body ul li > ul {
  margin-left: 1rem;
}

/*# sourceMappingURL=styles.css.map */
